# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of build tools
*.out
*.a

# Go workspace
bin/
pkg/

# Dependency directories (remove the comment below if you use vendoring)
# vendor/

# Editor-specific files
.idea/
*.swp
*~

# Logs
*.log

# System files
.DS_Store

# Vercel configuration
.vercel

# Golang specific
*.test
*.mod
*.sum
